body {
  background-image: url("https://live.staticflickr.com/65535/53186960313_4755906e23_k.jpg");
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e8ee98;
}

#mainTitle {
  color: #e50914;
  font-weight: bolder;
  font-size: xx-large;
}

.questionBox {
  background: #e50914;
  font-weight: bold;
  color: #100f0f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b71c22;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#rubiks {
  width: 275px;
  height: 250px;
}

.resultImage {
  width: 275px;
  height: 340px;
}
